@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/Proxima Nova Alt Regular Italic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Catamaran';
	src: url('../fonts/Catamaran-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'Fira-Sans';
    src: url('../fonts/FiraSans-UltraLight.otf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Fira-Sans';
    src: url('../fonts/FiraSans-UltraLightItalic.otf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Fira-Sans';
    src: url('../fonts/FiraSans-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



html{
    background-color: #f9f9f9;
}

body{
    margin: 0;
    font-family: 'Proxima Nova';
    color: grey;
    font-size: 17px;

}

/**********************************clear********************************/
    *{
        box-sizing: border-box;
    }

    li{
        list-style: none;
    }

    a, a:hover, a:focus{
        text-decoration: none;
    }

    ul{
        margin: 0px;
    }

    ul{
        padding: 0px;
    }


/**********************************usual********************************/


    /*************img resizing****************/
    .img-fluid {
        width: 100%;
        height: auto;
    }

    .img-fluid-h {
        height: 100%;
        width: auto;
    }

    /*************text adjust*****************/

    .justify {
        text-align: justify;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    /* parallel - center */
    .center {
        text-align: center;
    }

    /* vertical - center */
    /*the prarent node should better have a fixed height
    and be relateive/fix/absolute*/
    .center-h{
        position: relative;
        top: 50%;
        -ms-transform: translate(0, -50%); /* IE 9 */
        -webkit-transform: translate(0, -50%); /* Safari */
        transform: translate(0, -50%);

    }

    /*************div adjust*****************/

    /* with wider left&right padding */
    .wider{
        padding-left: 15px;
        padding-right: 15px;
    }

    /* with wider distance between row and row*/
    .row{
        margin-bottom: 30px;
    }


    /*************  colors ****************/
    .blue{
        color: #1058a2;
    }

    .white{
        color: #f9f9f9;
    }

    .red{
        color: #b31b1b;
        font-family: 'Proxima Nova';
        font-style: normal;
    }

    .blue a{
        color: #1058a2;
    }


/******************************topnav & botnav********************************/

    /*** logo ****/
    .logo{
        margin-top:-10px;
        height:70px;
        width:auto;
    }

    /*************nav-head****************/
    .nav-head{
        height: 100%;
        float: left;
        padding: 2px 45px 2px 25px;
    }

    .nav-head > *{
        display: block;
        float: left;
        margin-left: 20px;
    }

    /*************nav-right****************/
    .nav-right{
        padding-right: 45px;
        float: right;
        height: 100%;
        /*min-width: 700px;*/

    }

    .nav-right li{
        float: left;
        margin-left: 42px;
    }

    .nav-toggle{
        margin-right: 20px;
        display: none;
        padding: 8px 10px 13px 10px;
        background-color: #1058a2;
        float: right;
        border:1px solid transparent;
        border-radius: 5px;
    }

    .nav-toggle .icon{
        display: block;
        margin-top: 6px;
        width: 25px;
        height: 2px;
        background-color: #f9f9f9;
        border-radius: 1px;
    }

    /****************top nav detail**********************/
    .topnav {
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)*/;
        border-bottom:  1px solid #f2f2f2;
        background-color: #f9f9f9;
        width: 150%;
        position: fixed;
        top: 0px;
        z-index: 500;
        height: 85px;
        font-size: 20px;
        padding: 0px;

    }

    .topnav .nav-head {
        height: 80px;
    }
    .topnav .nav-head a{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* Change the color of links on hover */
    .topnav .nav-right a:hover {
        border-bottom: 2px solid #b31b1b;
        }

    /* Add a color to the active/current link */
    .topnav .nav-right a:active {
        border-bottom: 2px solid #b31b1b;

    }

    .topnav .nav-right a.active{
         border-bottom: 2px solid #b31b1b;
    }

    .topnav .nav-right li{
        margin-top: 25px;
        margin-bottom: 25px;
    }


    /****************bottom nav detail**********************/
    .botnav {
        /*background-image: url("images/bar.jpg");*/
        background-color: gray;
        overflow: hidden;
        width: 100%;
        position: relative;
        bottom: 0px;
        left: 0;
        font-size: 16px;
        height: 60px;
        padding: 0 45px 0 25px;
    }

    /* Style the links inside the navigation bar */
    .botnav .nav-right a {
        color: #d3d3d3;
    }

    /* Change the color of links on hover */
    .botnav .nav-right a:hover {
        color: #fff;
    }

    /****************** nav responsive ********************/
    @media (max-width: 1200px){

        .topnav{
            height: auto;
        }

        .topnav .nav-toggle{
            display: block;
        }

        .topnav .nav-head{
            border-bottom: 1px solid #fff;
            float: none;
        }

        .topnav .nav-right{
            padding: 0px;
            float: none;
            display: none;
        }

        .topnav .nav-right a{
            display: block;
            width: 100%;
            height: 100%;
            margin: 0;
            padding-top: 10px;
            padding-bottom: 10px;
        }


        .topnav .nav-right a.active {
            border-bottom: 0px solid #b31b1b;
            color: #b31b1b;


        }

        .topnav .nav-right li{
            background-color: #f9f9f9;
            display: block;
            float: none;
            border-bottom: 1px solid #fff;
            margin: 0;
            padding: 20px 55px;
        }

        .topnav .nav-right li:hover{
            background-color: #ffffff;
            font-style: italic;
        }

        .topnav .nav-right a:hover {
            border-style: none;
        }





    }


/*******************************Main Content*************************************/
    #content {
        padding: 2.4em 0;
        width: 100%;
    }

    .content {
        margin-top: 80px;
        padding: 2.4em 0;
        width: 100%;
    }

    @media (min-width: 1200px)
    {
        .container{
            margin-left: auto;
            margin-right: auto;
            width: 875px;
        }
    }

    @media (min-width: 992px)
    {
        .container{
            margin-left: auto;
            margin-right: auto;
            width: 875px;
        }
    }

    strong{
        font-size: 65px;
        font-weight:lighter;
    }

/********************************About page**********************************/

    .carousel,
    .item,
    .active {
        height: 550px;
    }

    .carousel-inner {
        height: 100%;
    }

    /* Background images are set within the HTML using inline CSS, not here */

    .fill {
        width: 100%;
        height: 100%;
        background-position: center 70%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;

    }

    .fill h1{
        font-size: 55px;
        width: 100%;
        color: #f9f9f9;
        font-family: 'Fira-Sans';
        font-weight: lighter;
    }

    .banner{
        margin-top: 80px;
        clear: both;
        background: url("images/hike.jpg");
        background-position: center 70%;
        background-size: cover;
        height: 550px;
    }

    .banner h1{
        font-size: 55px;
        width: 100%;
        color: #f9f9f9;
        font-family: 'Fira-Sans';
        font-weight: lighter;
        /*font-style: italic;*/
    }

    .login input[type=password]{
        box-sizing: border-box;
        margin-bottom: 10px;
        padding: 5px 5px;
        width: 440px;
        display: block;
        border: 1px solid grey;
        background-color: #fff;
        border-radius: 2px;
        text-align: left;
    }

    .login input[type=text]{
        box-sizing: border-box;
        margin-bottom: 10px;
        padding: 5px 5px;
        width: 440px;
        display: block;
        border: 1px solid grey;
        background-color: #fff;
        border-radius: 2px;
        text-align: left;
    }

    .login input[type=submit], input[type=reset]{
        display: block;
        background-color: #1058a2;
        border:none;
        padding: 5px 10px;
        cursor: pointer;
        color: white;
        margin-top: 15px;
    }

/********************************Member page**********************************/
    .bio-section {
        margin-bottom: 20px;
        padding: 20px;
        padding-top: 10px;
        background-color: rgba(245, 245, 245, 0.60);
    }

    .team-member-mouseover-box {
      bottom: 30px;
      top: 0px;
      left: 15px;
      right: 15px;
      position: absolute;
      transition: all 250ms ease;
    }

    .team-member-mouseover-box h3{
        visibility: hidden
    }


    .team-member-mouseover-box:hover{
      background: rgba(16,88,162,.7);
      /*box-shadow: inset 0 0 0 1px #607d8b;*/
    }

    .team-member-mouseover-box:hover .member-name{
        font-family: 'Fira-Sans';
        font-weight: lighter;
        font-style:italic;
        visibility:visible;
        margin-top:85%;
        text-align:center;
        color:#fff;
        font-size:17px;
    }

    .team-member-mouseover-box:hover .team-lead{
        font-family: 'Fira-Sans';
        font-weight: normal;
        font-style: normal;
        visibility:visible;
        margin-top: 72%;
        margin-bottom: -84%;
        text-align:center;
        color:#fff;
    }

    .team-member {
      cursor: pointer;
      margin-bottom: 30px;
    }

    .mail-icon {
        margin-top:-50px;
        width: 40px;
        height: auto;
        float:right;
    }
    .img-responsive {
      display: block;
      max-width: 100%;
      height: auto;
    }


    .team-member-photo {
    	/*max-width: 100%;
    	height: auto;*/
    }

    .selected-team-member{
      /*border:thin solid #607d8b;*/
      border:none;
    }

    .member-detail-h2{
      color: #616161;
      font-size: 33px;
      margin-top: 20px;
      margin-bottom: 10px;
      font-weight: 500;
      line-height: 1.1;
    }

    .member-detail-h4{
      color: #616161;
      font-size: 24px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 500;
      line-height: 1.3;
    }

    .member-icon{
      max-width: 100px;
      margin-top: -2px;
      padding-right: 30px;
    }

    .member-detail-p{
      margin: 0 0 10px;
      font-size: 19px;
    }

    .bannermem{
        margin-top: 80px;
        clear: both;
        background: url("images/team.jpg");
        background-position: center 60%;
        background-size: cover;
        height: 400px;
    }

    .bannermem h1{
        font-size: 55px;
        width: 100%;
        color: #f9f9f9;
        font-family: 'Fira-Sans';
        font-weight: lighter;
        margin-top: 0px;
    }
/********************************Subteam page**********************************/

    .bannersub {
    margin-top: 80px;
    clear: both;
    background: url("images/group2.JPG");
    background-position: center 43%;
    background-size: cover;
    height: 400px;
    }

    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        }

    .bannersub h1{
        font-size: 55px;
        width: 100%;
        color: #f9f9f9;
        font-family: 'Fira-Sans';
        font-weight: lighter;
        margin-top: 0px;
    }

    input[type=button], input[type=submit], input[type=reset] {
        background-color: #grey;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }

    .subteam-bar{
        font-size: 24px;
    }

    .subteam-bar .active {
        height: 53px;
    }

    .tab-content .row{
        margin-bottom: 15px;
    }

    .tab-content img {
        margin-top: 20px;
    }
    @media (max-width: 991px)
    {
        .subteam-bar{
        font-size: 19px;
        }
    }


/********************************Sponsor page**********************************/

    .sponsors .content{
        padding-top: 0;
        margin-top : 0;
    }

    .sponsors .bannersub{
        margin-top: 80px;
        clear: both;
      /*  background: url("../images/sponsorsHead.jpg");*/
        background: url("images/tree.JPG");
        background-position: center 40%;
        background-size: cover;
        height: 400px;
    }
    .sponsors .containersub{
        margin-top: 170px;
    }

    .sponsors .content .content2 a{
        color: #f9f9f9;
        border-style: solid;
        border-color: #b31b1b;
        background-color: #b31b1b;
        padding: 10px 20px;
        border-radius: 5px;
    }
    .sponsors .content .content2 a:hover{
        background-color: #1058a2;
        border-color: #1058a2;
    }
    .sponsors .content a{
        border-style: solid;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-bottom-color: transparent;
    }
    .sponsors h2{
        color: grey;
        font-size: 22px;
    }
    .bronze img{
        padding: 25px;
    }

    @media (max-width: 991px)
    {
        .sponsors img {
            padding-top: 30px;
        }
    }


/********************************recruitment page**********************************/

    .recruitment .banner{
        background-image: url("images/hiking.JPG");
        background-position: center 50%;
        height: 400px;
    }

    .recruitment #content{
        padding-top: 80px;
        font-size: 15px;
    }


    .recruitment .message-box{
        padding: 40px 40px;
        background-color: #fff;
        opacity: 0.8;
    }


    .recruitment-form{
        color: grey;
        display: block;
        width: 100%;
        padding: 12px 12px;
        font-size: 15px;
        color: #555;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        margin-bottom: 12px;
    }


    .recruitment .info p{
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 20px;

    }

    form .row{
        margin-bottom: 0px;
    }


    .recruitment .bb{
        padding: 10px 20px;
        background-color: grey;
        border: 1px solid #fff;
        color: #f9f9f9;
        font-size: 15px;
    }

    .recruitment .bb:hover{
        border: 1px solid #333;
        background-color: #fff;
        color: #555;
    }

    .recruitment {
      font-size: 20px;
      text-align: left;
    }
    .recHead {
      font-size: 30px;
      color: #1058a2;
      text-align:center;
      padding-bottom: 25px;
    }

	/********************************contact page**********************************/

		    .contact .banner{
		        background-image: url("images/hiking.JPG");
		        background-position: center 50%;
		        height: 400px;
		    }

		    .contact #content{
		        padding-top: 80px;
		        font-size: 15px;
		    }


		    .contact .message-box{
		        padding: 40px 40px;
		        background-color: #fff;
		        opacity: 0.8;
		    }


		    .contact-form{
		        color: grey;
		        display: block;
		        width: 100%;
		        padding: 12px 12px;
		        font-size: 15px;
		        color: #555;
		        background-color: #f9f9f9;
		        border: 1px solid #ccc;
		        margin-bottom: 12px;
		    }


		    .contact .info p{
		        font-size: 20px;
		        margin-top: 5px;
		        margin-bottom: 20px;

		    }

		    form .row{
		        margin-bottom: 0px;
		    }


		    .contact .bb{
		        padding: 10px 20px;
		        background-color: grey;
		        border: 1px solid #fff;
		        color: #f9f9f9;
		        font-size: 15px;
		    }

		    .contact .bb:hover{
		        border: 1px solid #333;
		        background-color: #fff;
		        color: #555;
		    }

		    .contact {
		      font-size: 20px;
		      text-align: center;
		    }
		    .recHead {
		      font-size: 30px;
		      color: #1058a2;
		      text-align:center;
		      padding-bottom: 25px;
		    }



/***----------------------------------------MEMBERS----------------------------------------***/
